@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

$color-1: #413C58;
$color-2: #A3C4BC;
$color-3: #BFD7B5;

* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Poppins', 'sans-serif';
}

h1 {
  margin: 0;
  color: $color-3;
}

.app {
  margin: auto;
  max-width: 414px;
  background: $color-3;
  min-height: 100%;
  display: flex;
  flex-direction: column;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      color: $color-1;
      font-weight: bold;
      font-size: 20px;
      width: 100%;
      padding: 20px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.123);
      transition: 0.2s;
      &:hover {
        opacity: 0.8;
        cursor: pointer;
        background: rgba(255, 255, 255, 0.3);
      }
    }
  }

  header {
    background: $color-1;
    text-align: center;
    padding: 20px;
  }

  footer {
    margin-top: auto;
  }

  form {
    background: $color-2;
    padding: 8px;
    align-items: stretch;
    display: flex;
    height: 70px;
    align-content: stretch;
    input {
      color: $color-1;
      font-weight: bold;
      font-size: 20px;
      width: 100%;
      border: none;
      padding: 4px 20px;
      &::placeholder {
        color: rgb(197, 197, 197);
      }
    }
    button {
      margin-left: 8px;
      border: none;
      background: $color-1;
      color: #fff;
      font-weight: bold;
      font-size: 20px;
      padding: 13px 20px;
      transition: 0.2s;
      &:hover {
        opacity: 0.8;
        cursor: pointer;
      }
    }
  }
}
